<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.iths.manisedighi.brewlikes">
     
    <!-- All the permissions needed  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Use of any camera - back, front or external -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

      <!-- May need this for the GPS as well, but not for now...
    <uses-feature android:name="android.hardware.location.gps" /> -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Meta data needed for the GPS to work -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAWaHVKauVexNLQ1m02LC5iNGX5UwLqFTU"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Necessary for facebook interaction -->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/brewlikes_fid"/>
        <!-- Necessary for facebook interaction -->
        <provider android:authorities="@string/content_provider"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.iths.manisedighi.brewlikes.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
             
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".InfoActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".RankingActivity" android:windowSoftInputMode="adjustResize" android:screenOrientation="portrait" />
        <activity android:name=".CategoriesActivity"/>
        <activity android:name=".AboutActivity"/>
        <activity android:name=".MapActivity"/>
        <activity android:name=".DetailActivity"/>
        <activity android:name=".TopListActivity"/>
    </application>
</manifest>